@import "variables";
@import "_global";

.header {
   background-color: $black;
   height: 83px;
   width: 100%;
}

.container {
   width: 1250px;
}

//Header section and navigation menu
.header-content {
   display: flex;
   justify-content: space-between;
   width: 1250px;
   align-items: center;
   padding: 24px 0;
   margin: 0 auto;

   & .logo {
      & a {
         color: $gold;
         font-size: 11px;
         text-transform: uppercase;
         text-decoration: none;
      }

   }

   & span {
      color: $gold;
      font-size: 12px;
      margin-left: 5px;
   }

   & button {
      text-transform: uppercase;
      color: $white;
      background-color: $gold;
      padding: 10px 33px;
      border-radius: 2px;
      font-size: 11px;
      border: 0;
      font-family: 'Nunito Sans';
      font-style: italic;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
      cursor: pointer;
   }
}

.nav_menu {
   margin-left: 47px;
}

.nav-list {
   display: flex;
   justify-content: space-between;
   list-style: none;
   text-transform: uppercase;
   font-size: 11px;

   & .nav-list_items {
      margin-right: 47px;
   }

   & a {
      text-decoration: none;
      color: $white;
   }

   & a:hover {
      color: $gold;
   }
}

//First section projects
.projects {
   display: block;
   background-image: url(../img/header_backgraud.svg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 707px;
   width: 100%;
   position: relative;
}

.complate-projects {
   margin: 0 auto;
   top: 190px;
   padding-left: 40px;
   position: relative;
   z-index: 1;

   & h1 {
      color: $white;
      font-size: 40px;
      margin-top: 0px;
      font-family: 'Yeseva One';
      text-transform: uppercase;
      position: relative;

      & span {
         color: $gold;
      }
   }

   & p {
      font-family: 'Nunito Sans';
      font-size: 22px;
      color: $white;
      line-height: 1.6;
      margin-top: -10px;
   }

   & .cost {
      color: $white;
      padding: 19px 43px;
      border-radius: 2px;
      border: none;
      background-color: $gold;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
      font-family: 'Nunito Sans';
      font-style: italic;
      text-transform: uppercase;
      font-size: 11px;
      height: 51px;
      cursor: pointer;
   }

   & .submit {
      color: $white;
      padding: 17px 29px;
      border-radius: 2px;
      background-color: transparent;
      border: none;
      font-family: 'Nunito Sans';
      font-style: italic;
      text-transform: uppercase;
      border: white solid;
      margin-left: 16px;
      font-size: 11px;
      cursor: pointer;
   }
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.7);
}

.cost {
   background-color: $black;
   height: 1074px;
   color: $white;
}

.cost-project {
   margin: 0 auto;
   height: 722px;
   padding-top: 107px;
}

.menu-items {
   display: flex;
   justify-content: space-between;
   width: 692px;
   margin-left: 470px;
   text-transform: uppercase;
   font-size: 14px;
   margin-top: 0px;
   padding-left: 0px;

   & li {
      margin-left: 61px;
      list-style: none;

      & a {
         color: $white;
         text-decoration: none;
         font-family: 'Yeseva One';
      }

      & a:hover {
         color: $gold;
         border-bottom: $gold solid;
         padding-bottom: 5px;
      }
   }

}

.main_content {
   display: grid;
   grid-template-columns: 529px 1fr;
}

.text_content {
   width: 487px;
   height: 510px;
   margin-top: 14px;
   margin-left: 39px;

   & h2 {
      font-family: 'Yeseva One';
      text-transform: uppercase;
      color: $gold;
      font-size: 27px;
   }

   & p {
      font-family: 'Nunito Sans';
      font-size: 14px;
      line-height: 2;
   }

   & .table_text {
      height: 242px;

      & .cost-repair {
         height: 100px;
      }
   }
}

.image-container {
   background-image: url(../img/section-2.1.png);
   display: block;
   height: 489px;
   width: 700px;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 29px;
}

.table_text {
   display: grid;
   grid-template-columns: 192px 200px;
   grid-template-rows: 110px 110px;
   margin-top: 47px;

   & h3 {
      font-family: 'Yeseva One';
      text-transform: uppercase;
      color: $gold;
      font-size: 18px;
      margin: auto;
   }

   & p {
      font-family: 'Nunito Sans';
      font-size: 13px;
      line-height: 21px;
   }

}

.arrows {
   background-image: url(../img/section2arrows.svg);
   display: block;
   width: 205px;
   height: 13px;
}

// Second section online control
.online-control {
   margin-top: -354px;
}

.online {
   margin: 0 auto;

   & h3 {
      font-family: 'Yeseva One';
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      margin-top: 26px;
   }

   & p {
      margin: 0 auto;
      height: 130px;
      width: 680px;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 37px;
      text-align: center;
      margin-top: 26px;
   }
}

.camera-image {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 100px;
   margin: 0 auto;
   margin-top: -5px;

   & .arrow-left {
      background-color: $gold;
      width: 32px;
      height: 1.5px;
   }

   & .arrow-right {
      background-color: $gold;
      width: 32px;
      height: 1.5px;
   }
}

.video-image {
   background-image: url(../img/midsection3.svg);
   display: flex;
   height: 461px;
   width: 916px;
   margin: 0 auto;
   background-size: cover;
   margin-top: 2px;
   z-index: 2;
}

.video-button {
   background-image: url(../img/midsectionbutton.svg);
   width: 140px;
   height: 108px;
   background-repeat: no-repeat;
   background-size: cover;
   margin: auto;
   margin-top: -281px;
   z-index: 3;
}

hr {
   width: 55px;
   height: 2px;
   color: $gold;
   margin-top: 238px;
   border: $gold solid;
}

.online-form {
   margin: 0 auto;
   margin-top: 97px;
   width: 806px;
   height: 150px;

   & .wraper-online-form {
      width: 769px;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   & .name-online {
      & .name-input {
         width: 231px;
         height: 45px;
         border: none;
         border-bottom: 1px solid gray;
      }
   }

   & .phone-input {
      width: 231px;
      height: 45px;
      border: none;
      border-bottom: 1px solid gray;
   }

   & button {
      padding: 20px 75px;
      background-color: $gold;
      font-family: 'Nunito Sans';
      text-transform: uppercase;
      border: none;
      margin-left: 33px;
      border-radius: 2px;
      color: $white;
      cursor: pointer;
   }
}

.name-label {

   & span {
      vertical-align: top;
      color: gray;
   }
}

.phone-label {

   & span {
      vertical-align: top;
      color: gray;
   }
}

.check-container {
   margin-top: 27px;
   margin-left: 220px;
   display: flex;
   align-items: center;

   & label {
      cursor: pointer;
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 163.68%;
      margin-left: 10px;
   }

   & .checkbox-online {
      accent-color: $gold;
      width: 18px;
      height: 18px;
      cursor: pointer;
   }
}

// Tirth section repair
.repairs {
   margin: 0 auto;

   & h3 {
      display: flex;
      justify-content: center;
      font-family: 'Yeseva One';
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      margin-top: 29px;
      margin-bottom: 0px;
   }

   & .image-tools {
      background-image: url(../img/tools.svg);
      height: 23px;
      width: 114px;
      margin: 0 auto;
      margin-top: 13px;
   }
}

.card-container {
   display: grid;
   grid-template-columns: 392px 392px 392px;
   grid-template-rows: 608px;
   column-gap: 38px;
   margin-top: 34px;

   & .card1 {
      background-image: url(../img/card1.jpg);
      height: 421px;
      width: 390px;

      & .head-content {
         height: 330px;
         width: 329px;
         background-color: $white;
         margin-top: 294px;
         margin-left: 40px;
         padding-left: 34px;
         padding-top: 25px;

         & h4 {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0px;
            margin-top: 0px;
         }

         & ul {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 27px;
            color: #959595;
            margin-left: -28px;
            margin-top: 4px;
         }
      }
   }

   & .card2 {
      background-image: url(../img/card2.png);
      height: 421px;
      width: 390px;

      & .head-content {
         height: 330px;
         width: 329px;
         background-color: $white;
         margin-top: 294px;
         margin-left: 31px;
         padding-left: 31px;
         padding-top: 25px;

         & h4 {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0px;
            margin-top: 0px;
         }

         & ul {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 27px;
            color: #959595;
            margin-left: -29px;
            margin-top: 4px;
         }
      }
   }

   & .card3 {
      background-image: url(../img/card3.png);
      height: 421px;
      width: 390px;

      & .head-content {
         height: 330px;
         width: 329px;
         background-color: $white;
         margin-top: 294px;
         margin-left: 25px;
         padding-left: 31px;
         padding-top: 25px;

         & h4 {
            font-family: 'Yeseva One';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0px;
            margin-top: 0px;
         }

         & ul {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 27px;
            color: $gray;
            margin-left: -29px;
            margin-top: 4px;
         }
      }
   }
}

.info {
   width: 228px;
   height: 54px;
   background-color: $gold;
   color: $white;
   font-family: 'Yeseva One';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 25px;
   text-transform: uppercase;
   padding: 17px 21.44px;
   margin-left: -34px;
}

.request-form {
   display: grid;
   grid-template-columns: 703px 506px;
   grid-template-rows: 1fr;
   margin-top: 130px;
   column-gap: 130px;
}

.request {
   background-image: url(../img/request-form.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: bottom right;
   height: 550px;
   width: 850px;
   margin-left: -75px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;

   & .one {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      display: inline-flex;
      align-items: center;
      margin-bottom: 45px;
      padding-left: 325px;

      & span {
         background-color: $gold;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50.76px;
         height: 50.76px;
         border-radius: 100%;
         border: $white solid 5px;
         color: $white;
         font-family: 'Yeseva One';
         font-size: 18px;
         font-weight: 400;
         margin-right: 13px;
      }
   }

   & .two {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      display: inline-flex;
      align-items: center;
      margin-bottom: 45px;
      padding-left: 325px;
      padding-top: 10px;

      & span {
         background-color: $gold;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50.76px;
         height: 50.76px;
         border-radius: 100%;
         border: $white solid 5px;
         color: $white;
         font-family: 'Yeseva One';
         font-size: 18px;
         font-weight: 400;
         margin-right: 10px;
      }
   }

   & .tree {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      display: inline-flex;
      align-items: center;
      margin-bottom: 45px;
      padding-left: 325px;
      padding-top: 20px;

      & span {
         background-color: $gold;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50.76px;
         height: 50.76px;
         border-radius: 100%;
         border: $white solid 5px;
         color: $white;
         font-family: 'Yeseva One';
         font-size: 18px;
         font-weight: 400;
         margin-right: 10px;
      }
   }

   & .four {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      display: inline-flex;
      align-items: center;
      margin-bottom: 45px;
      padding-left: 325px;
      padding-top: 32px;

      & span {
         background-color: $gold;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50.76px;
         height: 50.76px;
         border-radius: 100%;
         border: $white solid 5px;
         color: $white;
         font-family: 'Yeseva One';
         font-size: 18px;
         font-weight: 400;
         margin-right: 8px;
      }
   }
}

.desire-form {
   max-height: 509px;
   max-width: 506px;
   margin-left: 8px;
   margin-top: 17px;
   background-color: $black;
   color: $white;
   font-family: 'Nunito Sans';

   & h4 {
      padding-left: 104px;
      padding-right: 104px;
      padding-top: 28px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
      line-height: 26px;
      font-size: 18px;
   }

   & button {
      max-height: 51px;
      max-width: 213px;
      margin-top: 36px;
      margin-left: 242px;
      padding: 18px 37px;
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      background-color: $gold;
      color: $white;
      cursor: pointer;
   }
}

.wrapper {
   max-width: 408px;
   max-height: 250px;
   display: flex;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;

   & span {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      margin-bottom: -5px;
   }

   & input {
      width: 100%;
      height: 43px;
      background-color: $black;
      margin-bottom: 36px;
      border: none;
      border-bottom: 1px $gray solid;
      color: $white;
   }
}

.check-box-container-desire-form {
   max-height: 20px;
   max-width: 350px;
   margin-left: 45px;
   margin-top: 11px;
   display: flex;
   align-items: center;

   & input {
      accent-color: $gold;
      width: 18px;
      height: 18px;
      cursor: pointer;
   }

   & label {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 163.68%;
      margin-left: 10px;
   }
}

.help-save {
   max-width: 350px;
   max-height: 72px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: $gold;
   font-family: 'Nunito Sans';
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   margin-top: 17px;
   margin-right: 69px;
   float: right;

   & span {
      background-image: url(../img/piggi.svg);
      height: 111px;
      width: 111px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-top: 14px;
      margin-right: 4px;
   }
}

// Forth section fantasy
.fantasy {
   height: 900px;
   margin-top: 300px;
   background-image: url(../img/background-fantasy.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   & .fantasy-container {
      margin: 0 auto;
      padding-top: 41px;
      height: 900px;

      & .text-links {
         height: 800px;
         width: 300px;
      }
   }
}

.text-links {
   max-height: 700px;

   & h1 {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: 400;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: $gold;
      margin-top: 100px;
   }

   & .fantasy-list {
      display: flex;
      flex-direction: column;
      font-family: 'Nunito Sans';
      font-weight: 400;
      color: $white;
      margin-top: 50px;
      padding-left: 0px;
   }

   & .fantasy-items {
      text-decoration: none;
      font-size: 20px;
      line-height: 38px;
      list-style: none;
      margin-bottom: 13px;
   }

   & a {
      text-decoration: none;
      color: $gold;
   }

   & a:visited {
      color: $white;
   }

   & a:hover {
      color: $gold;
      border-bottom: 2px $gold solid;
   }
}

.fantasy-cards {
   margin-top: -933px;
   max-height: 1040px;
   float: right;
   max-width: 751px;
   display: grid;
   grid-template-columns: 354px 354px;
   grid-template-rows: 1fr 1fr;
   gap: 40px;

   & .fantasy-1 {
      width: 354px;
      height: 557px;
      margin-top: 73px;
   }

   & .fantasy-4 {
      margin-top: -347px;
      max-height: 600px;
   }
}

//Fifth section clients
.clients-container {
   margin: 0 auto;
   padding-top: 120px;

   & h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Yeseva One';
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0px;
   }

   .hands-logo {
      margin: 0 auto;
      background-image: url(../img/hands-logo.svg);
      height: 28px;
      width: 114px;
      margin-top: 14px;
   }

   & p {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      text-align: center;
      margin-top: 23px;
   }
}

.wrap-clients {
   display: grid;
   grid-template-columns: 376px 376px 376px;
   grid-template-rows: 1fr;
   column-gap: 54px;
   margin-top: 41px;

   & .client-card1 {
      padding-left: 28px;

      & h4 {
         display: flex;
         align-items: center;
         font-family: 'Yeseva One';
         font-weight: 400;
         font-size: 18px;
         line-height: 23px;
         margin-bottom: 0;

         & span {
            display: block;
            background-image: url(../img/client1.png);
            width: 76px;
            height: 76px;
            margin-right: 22px;
         }
      }

      & p {
         font-family: 'Nunito Sans';
         font-weight: 400;
         font-size: 13px;
         line-height: 180%;
         text-align: justify;
         padding-right: 30px;
         margin-top: 17px;
      }
   }
}

.box1 {
   display: grid;
   grid-template-columns: 145px 145px;
   grid-template-rows: 54px;
   margin-left: -19px;
   margin-top: 70px;
   font-family: 'Yeseva One';
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-transform: uppercase;
   color: $white;
   background-color: $gold;
   max-width: 293px;

   & .item-1 {
      display: flex;
      align-items: center;
      padding-left: 17px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item1.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }

   & .item-2 {
      display: flex;
      align-items: center;
      padding-left: 6px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item2.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }
}

.client-card2 {
   & h4 {
      display: flex;
      align-items: center;
      font-family: 'Yeseva One';
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      padding-left: 28px;
      margin-bottom: 0;

      & span {
         display: block;
         background-image: url(../img/client2.png);
         background-position: center;
         background-size: cover;
         width: 93px;
         height: 78px;
         margin-right: 21px;
      }
   }

   & p {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 13px;
      line-height: 180%;
      text-align: justify;
      padding-right: 30px;
      padding-left: 28px;
      margin-top: 17px;
   }
}

.box2 {
   display: grid;
   grid-template-columns: 145px 145px;
   grid-template-rows: 54px;
   margin-left: 9px;
   margin-top: 70px;
   font-family: 'Yeseva One';
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-transform: uppercase;
   color: $white;
   background-color: $gold;
   max-width: 293px;

   & .item-3 {
      display: flex;
      align-items: center;
      padding-left: 17px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item1.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }

   & .item-4 {
      display: flex;
      align-items: center;
      padding-left: 6px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item2.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }
}


.client-card3 {
   & h4 {
      display: flex;
      align-items: center;
      font-family: 'Yeseva One';
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      padding-left: 28px;
      margin-bottom: 0;

      & span {
         display: block;
         background-image: url(../img/client3.png);
         background-position: center;
         background-size: cover;
         width: 79px;
         height: 79px;
         margin-right: 21px;
      }
   }

   & p {
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 13px;
      line-height: 180%;
      text-align: justify;
      padding-right: 30px;
      padding-left: 28px;
      margin-top: 20px;
   }
}

.box3 {
   display: grid;
   grid-template-columns: 145px 145px;
   grid-template-rows: 54px;
   margin-left: 9px;
   margin-top: 70px;
   font-family: 'Yeseva One';
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-transform: uppercase;
   color: $white;
   background-color: $gold;
   max-width: 293px;

   & .item-5 {
      display: flex;
      align-items: center;
      padding-left: 17px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item1.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }

   & .item-6 {
      display: flex;
      align-items: center;
      padding-left: 6px;
      padding-top: 7px;

      & span {
         background-image: url(../img/client-item2.svg);
         display: block;
         width: 32px;
         height: 32px;
         margin-right: 15px;
      }
   }
}

//Sixt section help and Questions
.help-questions {
   height: 970px;
   background-image: url(../img/question-section.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: -223px;
   color: $white;

   & .help {
      margin: 0 auto;

      & .last-section-title {
         font-family: 'Yeseva One';
         font-style: normal;
         font-weight: 400;
         font-size: 20px;
         line-height: 28px;
         text-align: center;
         text-transform: uppercase;
         color: $gold;
         padding-top: 280px;
      }

      & .email-insta {
         display: flex;
         width: 100px;
         height: 30px;
         margin-left: 587px;

         & .email {
            background-image: url(../img/email-logo.svg);
            display: block;
            width: 28px;
            height: 28px;
            cursor: pointer;
         }

         & .insta {
            background-image: url(../img/insta-logo.svg);
            display: block;
            width: 28px;
            height: 28px;
            margin-left: 15px;
            cursor: pointer;
         }
      }

      & .map {
         background-image: url(../img/map.png);
         display: block;
         width: 954px;
         height: 474px;
         margin-top: 34px;
         margin-left: 150px;
         background-repeat: no-repeat;
         background-size: cover;
      }
   }
}

.last-form {
   width: 885px;
   height: 450px;
   margin-top: 114px;
   background-color: $black;
   margin: 0 auto;
   margin-top: 135px;
   padding-top: 10px;
   padding-bottom: 10px;

   & h3 {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      margin-left: -1px;
      margin-top: 32px;
   }

   & button {
      margin-top: 49px;
      margin-left: 341px;
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 13px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      background-color: $gold;
      height: 53px;
      width: 200px;
      cursor: pointer;
   }
}

.wrap-question-form {
   display: grid;
   height: 140px;
   width: 520px;
   margin: 0 auto;
   color: $white;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, auto);

   & .question-form-name {
      margin-top: 24px;
      height: 50px;
      grid-column: 1 / 2;

      & span {
         font-family: 'Nunito Sans';
         font-weight: 400;
         font-size: 13px;
         line-height: 21px;
         color: $gray;
      }

      & input {
         width: 231px;
         height: 36px;
         color: $white;
         background-color: $black;
         border: none;
         border-bottom: 1px $gray solid;
      }
   }

   & .question-form-phone {
      grid-column: 3 / 4;
      margin-left: 56px;
      margin-top: 24px;

      & span {
         font-family: 'Nunito Sans';
         font-weight: 400;
         font-size: 13px;
         line-height: 21px;
         color: $gray;
      }

      & input {
         width: 231px;
         height: 36px;
         color: $white;
         background-color: $black;
         border: none;
         border-bottom: 1px $gray solid;
      }
   }

   & .question-form-question {
      grid-column: 1 / 5;
      margin-top: 27px;

      & span {
         font-family: 'Nunito Sans';
         font-weight: 400;
         font-size: 13px;
         line-height: 21px;
         color: $gray;
      }

      & input {
         width: 516px;
         height: 45px;
         color: $white;
         background-color: $black;
         border: none;
         border-bottom: 1px $gray solid;
      }
   }
}

.last-form-checkbox {
   margin-top: 71px;
   margin-left: 296px;
   display: flex;
   align-items: center;

   & input[type="checkbox"] {
      height: 18px;
      width: 18px;
      accent-color: $gold;
      cursor: pointer;
   }

   & label {
      color: $white;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 163.68%;
      margin-left: 10px;
   }
}

//Footer navigation
footer {
   height: 133px;
   background-color: $black;
   padding-top: 29px;

   & .footer-content {
      display: flex;
      justify-content: space-between;
      width: 1250px;
      align-items: center;
      padding: 24px 0;
      margin: 0 auto;

      & .logo {
         color: $gold;
         font-size: 11px;
         text-transform: uppercase;

      }

      & span {
         color: $gold;
         font-size: 12px;
         margin-left: 5px;
      }

      & button {
         text-transform: uppercase;
         color: $white;
         background-color: $gold;
         padding: 10px 33px;
         border-radius: 2px;
         font-size: 11px;
         border: 0;
         font-family: 'Nunito Sans';
         font-style: italic;
         box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
         cursor: pointer;
      }
   }

   .nav_menu {
      margin-left: 47px;
   }

   .nav_list_items {
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-transform: uppercase;
      font-size: 11px;

      & .nav_items {
         margin-right: 47px;
      }

      & a {
         text-decoration: none;
         color: $white;
      }

      & a:hover {
         color: $gold;
      }
   }
}

@media (min-width: 375px) and (max-width: 1300px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding-left: 40px;
   }

   .nav_menu {
      display: none;
   }

   .r-call {
      display: none;
   }

   .logo {
      margin: 0 auto;
      margin-right: 56px;
      margin-left: 45px;
   }

   span {
      margin: 0 auto;
   }

   .complate-projects {
      width: 100%;
      padding-right: 40px;

      & h1 {
         width: 100%;

      }

      & p {
         width: 100%;
      }

      & .cost {
         width: 100%;
      }

      & .submit {
         width: 100%;
         margin-left: 0;
      }
   }

   .cost-project {
      height: 1500px;
      background-color: $black;
      width: 100%;
   }

   .menu-items {
      display: none;
   }

   .main_content {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 50px;
      justify-content: center;

      & .image-container {
         width: 100%;
         width: auto;
         max-width: 400px;
         max-height: 300px;
         margin-top: 44px;
         align-items: center;
         background-size: auto;
      }

      & .text_content {
         height: 150px;
         width: 100%;

         & h2 {
            display: flex;
            margin-top: -76px;
            width: 100%;
            margin-left: 0;
         }

         & p {
            width: 100%;
            margin-left: 0;
         }

         & .table_text {
            margin-top: 500px;
            width: 100%;
            margin-left: 0;
         }
      }
   }

   .arrows {
      display: none;
   }


   .online-control {
      margin-top: -21px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      & h3 {
         width: 100%;
      }

      & .camera-image {
         width: 100%;
      }

      & .video-image {
         max-width: 500px;
         max-height: 400px;
         width: 100%;
         margin: 0 auto;
      }

      & p {
         width: 100%;
      }
   }

   .online-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 170px;
      padding-right: 40px;

      & .wraper-online-form {
         width: 100%;
         display: flex;
         flex-direction: column;

         & .name-online {
            width: 100%;

            & input {
               width: 100%;
            }
         }

         & .phone-online {
            width: 100%;

            & input {
               width: 100%;
            }
         }

         & button {
            width: 100%;
            margin-top: 61px;
         }
      }

      & .check-container {
         width: 100%;
         margin-top: 96px;
         margin-left: 69px;
      }
   }

}